﻿@using Sitecore.Mvc
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="MainContent">
        @Html.Sitecore().Placeholder("maincontent")
    </div>
</body>
</html>