﻿@model Sitecore.Pixel.Feature.AdvancedComponent.Models.AdvancedComponentModel

@if (Model != null)
{
    <div id="AdvancedComponent">
        <span>Title: @Model.Title  </span>
        <span>Subtitle: @Model.Subtitle</span>
        <span>Date Created: @Model.DateCreated</span>
        <span>Aditional Info: @Model.AditionalInfo</span>

        @if (Model.Authors != null)
        {
            <span>Authors:</span><br /><br />

            foreach (var a in Model.Authors)
            {
                <div>
                    <img src="@a.Avatar" />
                    <span>@a.Bio</span>
                    <a href="@a.LinkToPage"><span>@a.FullName</span></a>
                </div>
            }
        }
        <img src="@Model.Image" />
    </div>
}
